*{margin:0;
font-family: 'Nova Square', sans-serif;
padding:0;
box-sizing:border-box;
}

.container{
  background:black;
  width:100%;
  height:150vh;
}
#head{
  position: absolute;
  background:#39e75f;
  color:black;
  border-radius:22px;
  top:1%;
  margin:10px;
  width:320px;
  padding:10px;
}
#head h1{
  margin-left:2px;
  font-weight:300;
  padding-left:10px;
  font-size:18px;
}
.bodyc{
  background:linear-gradient(45deg,#39e75f,#81f888);
  color:black;
  position: absolute ;
  top:160px;
  padding:10px;
  width:98%;
  height:130vh;
  font-size:18px;
  font-weight:400;
  margin:3px;
  border-radius:22px;
}
#wfas{
  width:60px;
  border-radius:9px;
  height:30px;
  padding-left:10px;
  position: absolute ;
  right:70px;
  top:53px;
  background:grey;
  color:white;
  outline:0;
}
#wfas::placeholder{
  color: white;
}
#for{
  position: absolute;
  left:70px;
}
td {
    border: 2px solid white;
    border-radius:3px;
    padding: 8px;}
    
#d{ color:#39e75f;
position:absolute;
bottom:-440px;
right:4px;
}